<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>博客系统</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          crossorigin="anonymous"></link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/blog.css" th:href="@{/css/blog.css}">
    <!-- editor.md -->
    <link rel="stylesheet" href="../../static/css/editormd.css" th:href="@{/css/editormd.css}"/>
    </link>
    <script src="../../static/js/editormd.min.js" th:src="@{/js/editormd.js}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    <script src="../../static/js/require/marked.min.js" th:src="@{/js/require/marked.min.js}"></script>
    <script src="../../static/js/require/prettify.min.js" th:src="@{/js/require/prettify.min.js}"></script>
    <script src="../../static/js/require/raphael.min.js" th:src="@{/js/require/raphael.min.js}"></script>
    <script src="../../static/js/require/underscore.min.js" th:src="@{/js/require/underscore.min.js}"></script>
    <script src="../../static/js/require/sequence-diagram.min.js"
            th:src="@{/js/require/sequence-diagram.min.js}"></script>
    <script src="../../static/js/require/flowchart.min.js" th:src="@{/js/require/flowchart.min.js}"></script>
    <script src="../../static/js/require/jquery.flowchart.min.js"
            th:src="@{/js/require/jquery.flowchart.min.js}"></script>
    <script src="../../static/js/js.cookie.js" th:src="@{/js/js.cookie.js}"></script>

    <style type="text/css">
        .no-item-icon-list {
            list-style: none;
        }

        .inline-block {
            display: inline-block;
        }
    </style>
</head>
<body>
<header th:replace="fragments/nav :: navbar"/>

<!--/*--><!--解析时删除-->

<!-- Fixed navbar -->
<header data-th-fragment="navbar">
    <script>
        function logout() {
            $("#logoutForm").submit()
        }

        $(document).ready(function () {
            $(".blog-nav-item").each(function () {
                var pathname = window.location.pathname;
                var element = $(this);
                var locations = eval(element.data("location"));
                var indexOf = locations.indexOf(pathname);
                if (indexOf >= 0) {
                    element.addClass("active");
                }
            });

        });
    </script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand" href="#">
                <img class="navbar-brand d-inline-block align-top"
                     src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30"
                     height="30" alt=""/>
            </a>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <a class="nav-item nav-link blog-nav-item" data-location="['/','/index.html']"
                       href="/index.html">首页</a>
                    <a class="nav-item nav-link blog-nav-item" data-location="['/owner/blogs.html']"
                       sec:authorize="hasAnyRole('USER') and !hasAnyRole('ADMIN')"
                       th:href="@{/owner/blogs.html}">我的博客</a>
                    <a class="nav-item nav-link blog-nav-item" data-location="[]"
                       sec:authorize="hasAnyRole('USER') and !hasAnyRole('ADMIN')"
                       th:href="@{/newBlog.html}">新建博客</a>
                    <a class="nav-item nav-link blog-nav-item" data-location="[]"
                       sec:authorize="hasAnyRole('USER') and !hasAnyRole('ADMIN')"
                       th:href="@{/search.html.html}">搜索</a>
                    <a class="nav-item nav-link blog-nav-item" data-location="[]"
                       sec:authorize="hasAnyRole('ADMIN')"
                       href="/manager/users.html">用户管理</a>
                    <a class="nav-item nav-link blog-nav-item" data-location="[]"
                       sec:authorize="hasAnyRole('ADMIN')"
                       href="/manager/blogs.html">博客管理</a>
                    <a class="nav-item nav-link blog-nav-item" data-location="[]"
                       sec:authorize="hasAnyRole('ADMIN')"
                       href="/manager/categories.html">分类管理</a>

                </div>
            </div>
            <div class="collapse navbar-collapse justify-content-end" style="margin-right: 200px">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/login.html" data-location="[]"
                       sec:authorize="isAnonymous()">登录</a>
                    <a class="nav-item nav-link" href="/register.html" data-location="[]"
                       sec:authorize="isAnonymous()">注册</a>
                    <a class="nav-item nav-link" href="/owner" data-location="[]"
                       sec:authorize="isAuthenticated()" sec:authentication="name"> 登录用户</a>
                    <a class="nav-item nav-link" href="#" data-location="[]"
                       sec:authorize="isAuthenticated()" onclick="logout()">注销</a>
                    <form id="logoutForm" th:action="@{/logout}" method="post" hidden="hidden">
                        <input type="submit" value="Sign Out"/>
                    </form>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
</header>

<!--*/-->
<script type="text/javascript">
    var testEditor;

    $(function () {
//        var url = $("#blog-editormd").attr("data");
//        $.ajax({
//            url: url,
//            type: "get",
//            success: function (data) {
        // 处理成功回调
        testEditor = editormd.markdownToHTML("blog-editormd", {
//                    markdown: data,
            htmlDecode: "style,script,iframe",  // you can filter tags decode
            emoji: true,
            taskList: true,
            tex: true,  // 默认不解析
            flowChart: true,  // 默认不解析
            sequenceDiagram: true,  // 默认不解析
        });
//            },
//            error: function (a, b, c) {
//                alert("请求失败：" + a + "\n" + b + "\n" + c);
//            }
//        });
        $("#blogCommentButton").click(function (event) {
            var comment = $("#blogCommentInput").val();
            if (comment == null || comment.length == 0) {
                toastr.info("评论为空");
                return;
            }
            var blogId = /^.*\/user\/(\d+)\/blog\/(\d+)$/.exec(window.location.href)[2];
            var url = "/api/blog/" + blogId + "/comments";
            $.ajax({
                url: url,
                type: "post",
                data: {
                    'comment': comment
                },
                headers: {
                    token: Cookies.get("token")
                }, success: function (data) {
                    if (data['code'] = 200) {
                        toastr.info("评论成功");
                        window.location.reload();
                    } else {
                        toastr.info("评论失败");
                    }
                },
                error: function (a, b, c) {
                    alert("请求失败：" + a + "\n" + b + "\n" + c);
                }
            });
        });
    });

    function showModel() {
        // 创建是否已经登陆
        var token = Cookies.get("token");
        if (token != undefined) {
            //已经登陆
            $('#blogCommentModel').modal('show')
        } else {
            // 未登录
            window.location.href = "/login.html"
        }
    };
</script>
<!-- Begin page content -->
<div class="container">
    <!---->

    <!--/*@thymesVar id="blog" type="com.mijack.sbbs.model.Blog"*/-->
    <!--/*@thymesVar id="blogContent" type="java.lang.String"*/-->
    <!--/*@thymesVar id="blogComments" type="java.util.List<com.mijack.sbbs.model.Comment>"*/-->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-transparent ">
                    <div>
                        <div class="pull-right">
                            <a th:href="${'/user/'+blog.user.id}">
                                <img th:src="${blog.user.avatar}"
                                     class="normal-avatar" th:alt-title="${blog.user.username}"
                                     th:alt="${blog.user.username}"/>
                            </a></div>
                        <div>
                            <h2 id="blog-title" th:text="${blog.title}"/>
                            <h2 class="inline-block">
                                <a th:href="${'/category/'+blog.category.id}">
                                    <span th:text="${blog.category.name}" class="badge badge-secondary"/>
                                </a>
                            </h2>

                        </div>
                        <div>
                            <h6 th:each="tag:${blog.tags}" class="inline-block">
                                <a th:href="${'/tag/'+tag.id}">
                                    <span th:text="${tag.name}" class="badge badge-secondary"/>
                                </a>
                            </h6>
                        </div>
                        <div>
                            <span th:text="'创建时间：'+${#dates.format(blog.createTime, 'yyyy年MM月dd日 HH:mm')}"></span>
                            <br/>
                            <span th:text="'更新时间：'+${#dates.format(blog.updateTime, 'yyyy年MM月dd日 HH:mm')}"></span>
                        </div>

                    </div>

                </div>
                <div class="card-body">
                    <div id="blog-editormd">
                        <textarea style="display:none;" th:text="${blogContent}"/></div>
                    <!--<div id="blog-editormd" th:data="${blog.contentUrl}">
                    <textarea style="display:none;"></textarea>
                </div>-->
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-transparent ">评论区
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" onclick="showModel()">评论</button>
                    </div>
                </div>
                <div class="card-body">
                    <div id="blog-comment-list">
                        <div th:if="${blogComments!=null and blogComments.size()>0}">
                            <!-- 添加分页功能-->
                            <div th:each="comment:${blogComments}">
                                <div class="inline-block">
                                    <a th:href="${'/user/'+blog.user.id}">
                                        <img th:src="${blog.user.avatar}"
                                             class="small-avatar" th:alt-title="${blog.user.username}"
                                             th:alt="${blog.user.username}"/>
                                    </a>
                                </div>
                                <div class="inline-block">
                                    <span th:text="${comment.user.username}"/><br/>
                                    <span th:text="'#'+${comment.commentNumber}"/> <span
                                        th:text="${#dates.format(comment.createTime, 'yyyy年MM月dd日 HH:mm')}"/><br/>
                                    <div th:text="${comment.comment}"/>
                                </div>
                            </div>
                        </div>
                        <div th:if="${blogComments==null || blogComments.size()==0}">
                            暂无评论
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<header th:replace="fragments/nav :: footbar"/>
<!-- Modal -->
<div class="modal fade" id="blogCommentModel" tabindex="-1" role="dialog" aria-labelledby="blogCommentLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="blogCommentLabel">评论</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="blogCommentInput">评论</label>
                    <input type="text" class="form-control" id="blogCommentInput" placeholder="评论内容"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" id="blogCommentButton" class="btn btn-primary">评论</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>